html {
  font-family: "inter", sans-serif;
}

.titulo {
  padding: 15px 0 15px 0;
  background-color: white;
  color: #2a4632;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

body {
  width: 100%;
  background-color: #d9e8dd;
}

main {
  width: 100%;
}

.mensaje-a-encriptar {
  height: 600px;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
}

.nota {
  margin: 0 0 10px 25px;
}

.nota i {
  margin-right: 8px;
}

.nota p {
  font-size: 13px;
}

.mensaje-encriptado {
  height: 600px;
  width: 90%;
  margin: 50px auto 30px auto;
  padding: 10px 0 5px 0;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

textarea {
  resize: none;
  width: 80%;
  height: 80%;
  display: block;
  margin: 10px auto 10px auto;
}

.mensaje-a-encriptar textarea,
.mensaje-encriptado textarea {
  background: none;
  border: none;
  outline: none;
  font-family: "inter", sans-serif;
  font-size: 20px;
}

.mensaje-a-encriptar textarea {
  color: #213627;
}

.mensaje-a-encriptar textarea::placeholder {
  font-size: 20px;
}

.mensaje-encriptado textarea {
  color: #2a4632;
}

.boton-copiar {
  margin-top: 35px;
}

.botones-mensaje button,
.boton-copiar button {
  display: block;
  width: 75%;
  margin: 0 auto 5px auto;
  padding: 5px;
  font-family: "inter", sans-serif;
  font-size: 18px;
  border-radius: 24px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.botones-mensaje button {
  background-color: white;
  color: #2a4632;
}

.boton-copiar button {
  background-color: #2a4632;
  color: white;
}

.botones-mensaje button:active {
  background-color: #2a4632;
  color: white;
}

.boton-copiar button:active {
  background-color: white;
  color: #2a4632;
}

@media (min-width: 760px) {
  .mensaje-a-encriptar textarea,
  .mensaje-encriptado textarea {
    font-size: 20px;
  }

  .mensaje-a-encriptar textarea::placeholder {
    font-size: 20px;
  }

  .botones-mensaje,
  .boton-copiar {
    display: flex;
  }

  .botones-mensaje button,
  .boton-copiar button {
    width: 210px;
    padding: 20px;
    font-size: 20px;
  }
}

@media (min-width: 910px) {
  .mensaje-a-encriptar textarea,
  .mensaje-encriptado textarea {
    font-size: 28px;
  }

  .mensaje-a-encriptar textarea::placeholder {
    font-size: 28px;
  }
}

@media (min-width: 920px) {
  .titulo {
    padding: 18px;
  }

  body {
    width: 100%;
  }

  main {
    display: flex;
    justify-content: space-around;
  }

  .mensaje-a-encriptar {
    height: 680px;
    width: 60%;
    margin-top: 30px;
  }

  .mensaje-encriptado {
    height: 680px;
    width: 30%;
    margin: 30px 40px 0 0;
  }

  .mensaje-a-encriptar textarea,
  .mensaje-encriptado textarea {
    font-size: 20px;
  }

  .mensaje-a-encriptar textarea {
    height: 76%;
    margin-bottom: 30px;
  }

  .mensaje-a-encriptar textarea::placeholder {
    font-size: 20px;
  }

  .mensaje-encriptado textarea {
    height: 75%;
    margin-bottom: 70px;
  }

  .nota {
    margin-left: 70px;
    margin-bottom: 20px;
  }

  .nota p {
    font-size: 15px;
  }

  .botones-mensaje {
    display: flex;
  }

  .boton-copiar {
    display: flex;
  }

  .botones-mensaje button {
    width: 220px;
    padding: 20px;
    font-size: 18px;
  }

  .boton-copiar button {
    width: 40%;
  }
}

@media (min-width: 1020px) {
  .mensaje-a-encriptar,
  .mensaje-encriptado {
    height: 470px;
  }

  .mensaje-encriptado {
    width: 35%;
  }

  .mensaje-a-encriptar textarea,
  .mensaje-encriptado textarea {
    font-size: 16px;
  }

  .mensaje-a-encriptar textarea::placeholder {
    font-size: 16px;
  }

  .botones-mensaje button,
  .boton-copiar button {
    padding: 5px;
    width: 150px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .mensaje-a-encriptar,
  .mensaje-encriptado {
    height: 650px;
  }

  .mensaje-a-encriptar textarea,
  .mensaje-encriptado textarea {
    font-size: 18px;
  }

  .mensaje-a-encriptar textarea::placeholder {
    font-size: 18px;
  }

  .botones-mensaje button,
  .boton-copiar button {
    padding: 15px;
    width: 200px;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .mensaje-a-encriptar,
  .mensaje-encriptado {
    height: 580px;
  }

  .mensaje-encriptado textarea {
    height: 80%;
    margin-bottom: 20px;
  }
  .boton-copiar {
    display: flex;
  }
  .botones-mensaje button,
  .boton-copiar button {
    width: 200px;
    padding: 15px;
    font-size: 18px;
  }

  .botones-mensaje button:hover {
    background-color: #2a4632;
    color: white;
  }

  .boton-copiar button:hover {
    background-color: white;
    color: #2a4632;
  }
}
